# Working with Categorical Data in Python

## Introduction to Categorical Data

In [ ]:
import pandas as pd

In [ ]:
adult = pd.read_csv('adult.csv')

In [ ]:
adult.head()

In [ ]:

print(adult['Above/Below 50k'].describe())

In [ ]:

print(adult['Above/Below 50k'].value_counts())

In [ ]:
print(adult['Above/Below 50k'].value_counts(normalize=True))

### Setting dtypes and saving memory

In [ ]:
adult['Occupation'].value_counts()

In [ ]:
list_of_occupations = adult['Occupation'].values.tolist()

In [ ]:
series1 = pd.Series(list_of_occupations)

In [ ]:

print("series1 data type:", series1.dtype)
print("series1 number of bytes:", series1.nbytes)

In [ ]:

series2 = pd.Series(list_of_occupations, dtype="category")

In [ ]:
print("series2 data type:", series2.dtype)
print("series2 number of bytes:", series2.nbytes)

### Setting dtype when reading data

In [ ]:
adult.head()

In [ ]:
print(adult.dtypes)

### Using pandas functions effectively

- Define the columns for grouping
- Group the dataset by the specified columns
- Calculate and print the mean hours worked per week for each group