# Working with Categorical Data in Python

## Introduction to Categorical Data

In [1]:
import pandas as pd

In [2]:
adult = pd.read_csv('adult.csv')

In [3]:
adult.head()

,Age,Workclass,fnlgwt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours/Week,Country,Above/Below 50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:

print(adult['Above/Below 50k'].describe())

count      32561
unique         2
top        <=50K
freq       24720
Name: Above/Below 50k, dtype: object

In [5]:

print(adult['Above/Below 50k'].value_counts())

Above/Below 50k
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [6]:
print(adult['Above/Below 50k'].value_counts(normalize=True))

Above/Below 50k
<=50K    0.75919
>50K     0.24081
Name: proportion, dtype: float64

### Setting dtypes and saving memory

In [7]:
list_of_occupations = adult['Occupation'].values.tolist()

In [8]:
series1 = pd.Series(list_of_occupations)

In [9]:

print("series1 data type:", series1.dtype)
print("series1 number of bytes:", series1.nbytes)

series1 data type: object
series1 number of bytes: 260488

In [10]:

series2 = pd.Series(list_of_occupations, dtype="category")

In [11]:
print("series2 data type:", series2.dtype)
print("series2 number of bytes:", series2.nbytes)

series2 data type: category
series2 number of bytes: 32681