# Finding the Best K for KNN Regression

We are going to use the California housing dataset to illustrate how to find the best ``k`` value for KNN regression. The dataset was derived from the 1990 U.S. census. One row of the dataset represents the census of one block group.

## Import and Load the Dataset

In [1]:
from sklearn.datasets import fetch_california_housing

# as_frame=True loads the data in a dataframe format, with other metadata besides it
california_housing = fetch_california_housing(as_frame=True)

# Select only the dataframe part and assign it to the df variable
df = california_housing.frame

## Explore the Dataset

Take a peak at the first few rows of data.

In [2]:
import pandas as pd
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

## Preprocessing the Dataset

We need to predict another median house value. To do so, we will assign ``MedHouseVal`` to ``y`` and all other columns to ``X`` just by dropping ``MedHouseVal``.

In [3]:
y = df['MedHouseVal']
X = df.drop(['MedHouseVal'], axis = 1)

## Splitting Data into Train and Test Sets

We sample 75% of the data for training and 25% of the data for testing. To ensure a reproducible evaluation, set the random_state using the provided ``SEED``.

In [4]:
from sklearn.model_selection import train_test_split

SEED = 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=SEED)

## Feature Scaling both Train and Test Sets

By importing StandardScaler, instantiating it, fitting it according to our train data (preventing leakage), and transforming both train and test datasets, we can perform feature scaling.

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

## Finding the Best K for KNN Regression

We will calculate the ``mean_absolute_error`` (MAE) for the predicted values of the test set for all the K values between 1 and 39. Print the best K value (the K value with the lowest MAE) in the end.

In [6]:
from sklearn.metrics import mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor

error = []

# TODO: Calculating MAE error for K values between 1 and 39
for i in range(1, 40):
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_train, y_train)
    pred_i = knn.predict(X_test)
    mae = mean_absolute_error(y_test, pred_i)
    error.append(mae)

print(error.index(min(error)) + 1)

12